# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
*.sqlite3
*.log
/staticfiles/
/media/
db.sqlite3

# Virtual environment
venv/
env/
ENV/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment files
.env
